.toggle-button  {
    -fx-background-color:transparent;
}

.toggle-button:selected {
    -fx-background-color: #90A4AE;
}

.dateSelect {
    -fx-background-color: #607D8B;
    -fx-text-fill: #ffffff;
}

.dateSelect:selected {
    -fx-background-color: #90A4AE;
    -fx-text-fill: #ffffff;
}