.button {
    -fx-background-color: #607d8b;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.text-field {
    -fx-background-color: #cfd8dc;
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.combo-box {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: #cfd8dc;
    -fx-min-width: 200px;
}